.header {
  background: rgba(73,73,128,0.8);
  padding: 1.5em 0 0 1em;
  display: flex;
  height: auto;
}

nav {
  width: 100%;
  position: absolute !important;
  bottom: 0 !important;
  padding-bottom: 0px !important;
}

.nav-link {
  color: white !important;
  font-weight: bolder;
  margin-right: .2em;
}

.nav-link.active, .nav-link:hover {
  background: darkslateblue;
  box-shadow: 2px 0px 0 gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.nav-link:hover {
  color: lightgray !important;
  background-color: rgba(73, 62, 139, 0.63)
}

.nav-link-end {
  position: absolute;
  right: 2em;
}

.logo {
  font-family: pokefontSolid;
  font-size: 1.5em;
  color: gold;
  -webkit-text-stroke: 2px #007bff
}

.logo h1 {
  margin: 0
}

.logo:hover {
  text-decoration: none;
  color: goldenrod;
}

.navbar-nav {
  font-size: 1.2em
}
