body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  width: 100%;
  height: 100%;
  background-image: url("../images/background.png");

}

#root {
  background: url("../images/background.png");
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list-container {
  height: 22em;
  width: 80%;
  margin: auto;
}

.list {
  height: 20.75rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 1em;
}

.list .card:hover {
  background-color: rgb(46, 38, 94);
  text-decoration: none;
}

.list .card:hover a {
  color: #0056b3;
}

.page-item.active .page-link {
  background: darkslateblue !important;
  border-color: purple !important;
  color: white !important;
}

.page-item.disabled .page-link {
  color: lightgray !important;
}

.page-link {
  color: darkslateblue !important;
}

.list .card-body {
  transform: skew(-20deg);
}

.list .card {
  left: -1000px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  transform: skew(20deg);
  width: 95%;
  margin: auto;
  background: darkslateblue;
  color: white;
  box-shadow: 2px 2px 0 gray;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

.card-body {
  text-transform: capitalize;
  font-weight: bolder;
}

.pagination {
  padding: 0 !important;
  width: fit-content;
}

.pagination .page-item {
  width: 50px ;
}

.page-item + .ellipsis {
  width: 36px;
}

.page-item + .ellipsis2 {
  width: 18px;
}

.page-item + .ellipsis a, .page-item + .ellipsis2 a {
  padding-left: 0;
  padding-right: 0;
  box-sizing: content-box;
}

.page-item:first-child .page-link {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

.page-item .page-link {
  box-shadow: 2px 2px 0 gray;
}

.page-item:last-child .page-link {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.index_container {
  margin: auto;
  padding: 3em 0;
  background-color: rgba(221, 221, 255, 0.65);
  height: auto;
}

.index_container .text {
  font-size: 1.5em;
  margin: 0 auto 1em !important;
  font-family: Verdana;
  text-transform: none !important;
  width: 80%;
}

.index_container a {
  text-align: center;
}

.index_container .shadow_container {
  height: auto;
}

.paginator_container {
  margin: 1em auto 0;
  width: fit-content;
}
