body {
  margin: 0;
  background-color: rgb(230, 230, 230) !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list-container {
  height: 22em;
}

.logo {
  font-family: pokefontSolid;
  font-size: 2em;
  color: gold;
  -webkit-text-stroke: 2px #007bff
}

.logo:hover {
  text-decoration: none;
  color: goldenrod;
}

.list {
  height: 20.75rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

.list .card:hover {
  background-color: #e9ecef;
  text-decoration: none;
}

.list .card:hover a {
  color: #0056b3;
}

.list .card-body {
  transform: skew(-20deg);
}

.list .card {
  left: -1000px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  transform: skew(20deg);
  width: 95%;
  margin: auto;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

.card-body {
  text-transform: capitalize;
  font-weight: bolder;
}

.pagination {
  padding: 0 !important;
  margin: auto;
  width: fit-content;
}

.pagination .page-item {
  width: 50px ;
}

.page-item + .ellipsis {
  width: 36px;
}

.page-item + .ellipsis2 {
  width: 18px;
}

.page-item + .ellipsis a, .page-item + .ellipsis2 a {
  padding-left: 0;
  padding-right: 0;
  box-sizing: content-box;
}
