.field {
  height: auto;
  margin: 0px !important;
  padding: .6em 0;
}

.poke-button {
  background-color: red !important;
  font-weight: bolder !important;
  color: white !important;
  width: 6em;
  box-shadow: 2px 2px 2px 0 #afafaf;
}

.prev {
  float: left;
  border-radius: 1em 0 0 1em !important;
}

.next {
  float: right;
  border-radius: 0 1em 1em 0 !important;
}

.poke-button:hover {
  background: darkred !important;
}

div .carousel {
  height: 20em !important;
  border: 1px solid #efefefef;
  background: black;
}

.carousel-control-prev, .carousel-control-next {
  background-color: rgba(255, 0, 0, 0.7);

  border-radius: 50%;
  width: 3rem !important;
  height: 3rem;
  margin: 0;
  position: absolute !important;
  top: 50% !important;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: 1em !important
}

.carousel-control-next {
  right: 1em !important
}

.carousel-inner {
  margin: 0;
  position: absolute !important;
  top: 50% !important;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.carousel-item img {
  height: -webkit-fill-available;
  background: white;
}

.poke-type {
  width: 5em;
  margin: .5em;
  padding: .2em;
  text-transform: capitalize;
  color: white;
  border-radius: .5em;
  font-weight: bolder;
  box-shadow: 2px 2px 2px 0 #afafaf;
}

.bug {
  background-color: darkseagreen;
}

.dark {
  background-color: black;
}

.dragon {
  background-color: darkviolet;
}

.electric {
  background-color: yellow;
}

.fairy {
  background-color: darksalmon;
}

.fighting {
  background-color: red;
}

.fire {
  background-color: orange;
}

.flying {
  background-color: lightblue;
}

.ghost {
  background-color: violet;
}

.grass {
  background-color: green;
}

.ground {
  background-color: brown;
}

.ice {
  background-color: aquamarine;
}

.normal {
  background-color: burlywood;
}

.poison {
  background-color: purple;
}

.psychic {
  background-color: pink;
}

.rock {
  background-color: darkgoldenrod;
}

.steel {
  background-color: lightgray
}

.water {
  background-color: blue;
}
