.field {
  height: auto;
  margin: 0px !important;
  padding: .6em 0;
}

.poke-button {
  background-color: red !important;
  font-weight: bolder !important;
  color: white !important;
  width: 100%;
  box-shadow: 2px 2px 2px 0 #afafaf;
}

.navigation_container .col-3, .navigation_container .col-6 {
  padding: 0;
  margin-top: 1em;
}

.poke-button:hover {
  background: darkred !important;
}

.prev {
  float: left;
  border-radius: 0 0 0 10px !important;
}

.middle {
  background-color: white !important;
  color: red !important;
  border-radius: 0px !important;
}

.middle:hover {
  background: #efefef !important;
  color: red !important;
}

.next {
  float: right;
  border-radius: 0 0 10px 0 !important;
}

div .carousel {
  height: 15em !important;
  border: 1px solid #efefefef;
  background: black;
}

.carousel-control-prev, .carousel-control-next {
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 50%;
  width: 3rem !important;
  height: 3rem;
  margin: 0;
  position: absolute !important;
  top: 50% !important;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: 1em !important
}

.carousel-control-next {
  right: 1em !important
}

.carousel-inner {
  margin: 0;
  position: absolute !important;
  top: 50% !important;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.carousel-item {
  height: 15em !important;
  border-radius: 10px;
}

.carousel-item img {
  height: inherit;
  width: auto;
  background: white;
}

.poke-type {
  width: 5em;
  margin: .5em;
  padding: .2em;
  text-transform: capitalize;
  color: white;
  border-radius: .5em;
  font-weight: bolder;
  box-shadow: 2px 2px 2px 0 #afafaf;
  text-align: center;
}

.bug {
  background-color: darkseagreen;
}

.dark {
  background-color: black;
}

.dragon {
  background-color: darkviolet;
}

.electric {
  background-color: yellow;
}

.fairy {
  background-color: darksalmon;
}

.fighting {
  background-color: red;
}

.fire {
  background-color: orange;
}

.flying {
  background-color: lightblue;
}

.ghost {
  background-color: violet;
}

.grass {
  background-color: green;
}

.ground {
  background-color: brown;
}

.ice {
  background-color: aquamarine;
}

.normal {
  background-color: burlywood;
}

.poison {
  background-color: purple;
}

.psychic {
  background-color: pink;
}

.rock {
  background-color: darkgoldenrod;
}

.steel {
  background-color: lightgray
}

.water {
  background-color: blue;
}

.shadow_container {
  background-color: ghostwhite;
  border: 1px solid #efefef;
  box-shadow: 2px 2px 2px 0 #afafaf;
  height: 23em;
  padding: 1em;
  border-radius: 10px;
  margin-top: .5em;
  margin-bottom: .5em;
  text-align: left;
  position: relative;
}

.images_container {
  left: -1000px;
  animation: slide 0.5s forwards;
  animation-delay: 0s;
}

.stats_container {
  right: -1000px;
  animation: backslide 0.5s forwards;
  animation-delay: 0.5s;
}

.stat_icon {
  width: 1em;
  float: right;
}

@keyframes backslide {
    100% { right: 0; }
}

.info_container {
  left: -1000px;
  animation: slide 0.5s forwards;
  animation-delay: 1s;
}

.shadow_container h3, .shadow_container .carousel-inner {
  text-align: center;
}

.shadow_container label {
  text-transform: capitalize;
  font-weight: bolder;
  width: 100%;
  margin: 0;
}

.progress_stat {
  margin-bottom: .5em;
}

.progress_stat .progress {
  height: 1.5em;
}

.image_indicator {
  background: white;
  font-size: .8em;
  text-align: center;
  border: .5px solid black;
  width: 20%;
  position: relative;
  z-index: 2;
  left: 1em;
  top: -2em;
  border-radius: 10px;
  opacity: 0.9;
  font-weight: 700;
}

.poke-name {
  font-family: Verdana;
  font-size: 2em;
  padding: .5em;
  font-weight: 600;
  border: 1px solid #efefef;
  background: ghostwhite;
  border-radius: 10px;
  margin-top: .5em;
  box-shadow: 2px 2px 2px 0 #afafaf;
}
