.images-container {
  height: 25rem;
  overflow: scroll;
}

div .carousel {
  height: 20em !important;
  border: 1px solid #efefefef;
  background: black;
}

.carousel-control-prev, .carousel-control-next {
  background-color: rgba(255, 0, 0, 0.7);

  border-radius: 50%;
  width: 3rem !important;
  height: 3rem;
  margin: 0;
  position: absolute !important;
  top: 50% !important;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: 1em !important
}

.carousel-control-next {
  right: 1em !important
}

.carousel-inner {
  margin: 0;
  position: absolute !important;
  top: 50% !important;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.carousel-item img {
  height: -webkit-fill-available;
  background: white;
}
